{% extends "accounts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block cssfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/base_style.css' %}"/>

    <!-- EXTRA CSS FILES HERE -->

{% endblock cssfiles %}


    
    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->



                                    <!-- EXTRA CONTENT
                                            HERE---->
{% block content %}





<div class="row justify-content-center my-row top-row" style="margin-top: 8rem;">  

    <div class="my-2">

	    <!-- display django messages (WORKS) -->

    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        
                    </div>

                {% endfor %}
            {% endif %}       
        </div>
    </div>

	</div>


</div>


<div class="row justify-content-center">

    <div class="col-md-4 mt-4">

        <form method="POST" enctype="multipart/form-data" style="font-family: 'Baloo Chettan 2', cursive; ">
        {% csrf_token %}

        {{u_form|crispy}}

        {{i_form|crispy}} 

    
    </div>


    <div class="col-md-4 ml-5 mt-4">

        {{p_form|crispy}} 

            

    </div>



</div>

<div class="row justify-content-center">
    <div class="col-md-8 d-flex justify-content-center mb-4">

        <button type="submit" class="btn btn-danger custom-btn"> Update</button>
        </form>




    </div>


</div>
    

</div>

<style>

    .custom-btn{
        background: #cf6060;
    }



</style>

</div>

{% endblock content %}


