{% extends "accounts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block cssfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/base_style.css' %}"/>

    <!-- EXTRA CSS FILES HERE -->

{% endblock cssfiles %}


    
    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->



                                    <!-- EXTRA CONTENT
                                            HERE---->
{% block content %}



<!-- display django messages (WORKS) -->

    <!--<div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        
                    </div>

                {% endfor %}
            {% endif %}       
        </div>
    </div> -->

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }} </h2>
                 
            </div>

        </div>

        <li>
            <form class="logout-link" action="/accounts/logout/" method="post">
                {% csrf_token %}
                    <button class="logout-button" type="submit">Log Out</button>
            </form>
        </li>

    </div>

    <h1> Welcome {{ user.username }} </h1>

               
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        

        {{u_form|crispy}} 
        {{p_form|crispy}} 

        <button type="submit" class="btn btn-success"> Update</button>


    </form>



{% endblock content %}


