 {% extends "accounts/base.html" %}

{% load static %}

{% block cssfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/friends_style.css' %}"/>

{% endblock cssfiles %}


{% block content %}


    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->



    <div class="row top-row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        
                    </div>

                {% endfor %}
            {% endif %}       
        </div>
    </div>


            <div class="row justify-content-center my-row top-row">
                <div class="col-12 my-col my-col-41 text-left">
                        
                    <div class="tabs">

                        <input type="radio" name="tabs" id="tabone" checked="checked">
                            <label for="tabone" id="tab-heading-1">Friends</label>
                            <div class="tab">
                                <div class="right-sidebar">
                                    {% if friends %}                                       
                                        <div class="card-body">
                                        {% for user_p in friends %}
                                            <div class="card side-card">
                                            <a href="{{ user_p.get_absolute_url }}"> <img src="{{ user_p.image.url }}" class="friend-image" width="80" height="80" alt=""/></a>
                                            <a class="text-dark" href="{{ user_p.get_absolute_url }}">
                                            <b>{{ user_p }}</b></a>
                                            <small> <a class="btn btn-danger" href="friend/delete/{{ user_p.id }}"> Delete </a>
                                            </small>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% else %}
                                        <h3> Connect to people with similar reading taste, Just send a Request! </h3>
                                    {% endif %}   
                                </div>
                            </div>
  
                        <input type="radio" name="tabs" id="tabtwo">
                            <label for="tabtwo" id="tab-heading-2">Requests</label>
                            <div class="tab">
                                        <div class="col-md-6">
                                    <div class="card card-signin my-5">
                                    <div class="card-body">
                                        <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
                                        <hr class="my-2" />
                                        {% if not rec_friend_requests %}
                                        <h5><i>No recieved requests!</i></h5>
                                        {% else %} {% for r_request in rec_friend_requests %}
                                        <a href="{{ r_request.from_user.profile.get_absolute_url }}">
                                        <img src="{{ r_request.from_user.profile.image.url }}" class="rounded mr-2" width="40" height="40" alt=""/></a>
                                        
                                        <a class="mr-2 align-middle" href="{{ r_request.from_user.profile.get_absolute_url }}"><b>
                                        {{ r_request.from_user.username }}</b> </a>
            
                                        <small class="float-right">
                                        
                                            <a class="btn btn-success mr-2" href="/accounts/friend-request/accept/{{ r_request.from_user.id }}"> Accept </a>
                            
                                            <a class="btn btn-danger" href="/accounts/friend-request/delete/{{ r_request.from_user.id }}" >Reject</a>
                                        
                                        </small> <br /><br />
                                        
                                        {% endfor %} {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
  
                    </div>
                </div>
            </div>









                <!--<div class="row justify-content-center my-row row-3">
                    <div class="col-12 my-col my-col-31 text-center">
                        <div>

                        {% if friends %}
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    {% for user_p in friends %}
                                        <a href="{{ user_p.get_absolute_url }}"> <img src="{{ user_p.image.url }}" class="rounded mr-2" width="40" height="40" alt=""/></a>
                                        <a class="text-dark" href="{{ user_p.get_absolute_url }}">
                                        <b>{{ user_p }}</b></a>
          
                                        <br /><br />
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <h3> Connect to people with similar reading taste, Just send
                            a Request! </h3>
                        {% endif %}
                    </div>
                    </div>        
                </div> -->

                    
{% endblock content %}
