<!DOCTYPE html>
<html>
<head>
	<title>{{user.username}}</title>

	<!-- loads the path to your static files -->
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 


	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login_style.css' %}"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>

	<h2>Friend List</h2>

	<h4>{{p.friends}}</h4>




</body>
</html>