{% extends "accounts/base.html" %}

{% load static %}

{% block cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/genres_style.css' %}"/>

{% endblock cssfiles %}


{% block javascript_block %}

	<script>
		$(document).ready(function()
		{
			$('.chckvalues').click(function()
			{
				var txt="";
				$('.chckvalues:checked').each(function()
				{
					txt += $(this).val()+"  "

				});
				txt = txt.substring(0, txt.length-1);
				$('#txtvalues').val(txt);
			});
		});
		
	</script> 

{% endblock javascript_block %}



    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->

{% block content %}

    <div class="row justify-content-center my-row row-3">       
        <div class="col-10 my-col my-col-31">
            <div class="display-existing">

            	{% if existing_genres %}
            		<h3>Your preferred genres:</h3>
            		<h4>{{ existing_genres  }} </h4>

            	{% endif %}
            </div>
             
        </div>  
    </div>


    <div class="row justify-content-center my-row row-4">    
                <div class="col-3">
                    <hr/>
                    <li> <input type="checkbox" value="Autobiography"         class="chckvalues largerCheckbox"> <span class="check-text">Autobiography </span> </li>
                    <hr/>
                    <li> <input type="checkbox" value="Biography"             class="chckvalues largerCheckbox"> <span class="check-text"> Biography </span> </li> 
                    <hr/>
                    <li> <input type="checkbox" value="Drama"                 class="chckvalues largerCheckbox"> <span class="check-text"> Drama </span> </li>
                    <hr/>
                    <li> <input type="checkbox" value="Fairytale"             class="chckvalues largerCheckbox"> <span class="check-text"> Fairytale </span> </li><hr/>
                    
                    
                </div>


                <div class="col-3">
                <hr/>
                    <li> <input type="checkbox" value="Fantasy"               class="chckvalues largerCheckbox"> <span class="check-text"> Fantasy </span> </li><hr/>
                    <li> <input type="checkbox" value="Folktale"              class="chckvalues largerCheckbox"> <span class="check-text"> Folktale </span> </li><hr/>
                    <li> <input type="checkbox" value="Historical Fiction"    class="chckvalues largerCheckbox"> <span class="check-text"> Historical Fiction </span> </li><hr/>

                    <li> <input type="checkbox" value="Horror"                class="chckvalues largerCheckbox"> <span class="check-text"> Horror </span> </li><hr/>
                    
                </div>

                <div class="col-3">
                    <hr/>

                    <li> <input type="checkbox" value="Informational"         class="chckvalues largerCheckbox"> <span class="check-text"> Informational </span> </li><hr/>
                    <li> <input type="checkbox" value="Myth"                  class="chckvalues largerCheckbox"> <span class="check-text"> Myth </span> </li><hr/>
                    <li> <input type="checkbox" value="Mystery"               class="chckvalues largerCheckbox"> <span class="check-text"> Mystery </span> </li><hr/>
                </div>

                <div class="col-3">
                    <hr/>
                    <li> <input type="checkbox" value="Poetry"                class="chckvalues largerCheckbox"> <span class="check-text"> Poetry </span> </li><hr/>
                    <li> <input type="checkbox" value="Realistic Fiction"     class="chckvalues largerCheckbox"> <span class="check-text"> Realistic Fiction </span> </li><hr/>
                    <li> <input type="checkbox" value="Science Fiction"       class="chckvalues largerCheckbox"> <span class="check-text"> Science Fiction </span> </li><hr/>
                </div>
   
    </div>


    <div class="row justify-content-center my-row row-4">    
        <div class="col-12 my-col my-col-41 ">
            
            	<center>
		<form method="POST">
			{% csrf_token %}

		<div class="display-checked">
            <input type="text" name="genres" id="txtvalues" size="120" readonly> 
        </div>

        <div class="save-button">
		    <input id="but1" type="submit" value="Save" onclick="return alert('successfully inserted!')">
        </div>
		
		</form>
	</center>
    			
    		
                             
        </div>  
    </div>
    

{% endblock content %}
