<!DOCTYPE html>
<html>
<head>

	{% load static %}
	
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

	<title>homepage</title>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
	   
	<link rel="stylesheet" type="text/css" href="{% static 'home/homepage_style.css' %}"/>

</head>
<body>

	<!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li>
                        <div class="search-box">
                            <input class="search-txt" type="text" name="q" placeholder="search">
                                <a class="search-btn" href="#">
                                <i class="fas fa-search"></i></a>
                        </div>
                    </li>

                    <li>
						<form class="logout-link" action="/accounts/logout/" method="post">
							{% csrf_token %}
						<button class="logout-button" type="submit">Log Out</button>
						</form>
					</li>
                    </ul> 
                </div>
            </div>

<!--header menu end-->

<!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="profile">
                <img src="images/1.jpg" alt="">
                    <p>{{ user.username }} </p>
            </center>
            

            <li class="item" id="profile">
                <a href="#profile" class="menu-btn">
                    <i class="fas fa-book"></i><span>Genres <i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-newspaper"></i><span>Genre-1</span></a>
                        <a href="#"><i class="fas fa-newspaper"></i><span>Genre-2</span></a>
                    </div>
            </li>

            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-pencil-ruler"></i><span>Posts</span>
                </a>
            </li>

            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-user-friends"></i><span>Friends</span>
                </a>
            </li>
        </div>
    </div>

<!--sidebar end-->

    

	<nav>
		<ul>
			<li>
				<form class="logout-link" action="/accounts/logout/" method="post">
					{% csrf_token %}
					<button class= "btn btn-success btn-lg btn-lg" type="submit">Logout</button>
				</form>
					
			</li>
		</ul>
	</nav>


    <h1 class="testdata"> Welcome {{ user.username }} </h1>

	<script type="text/javascript">
    $(document).ready(function()
    {
        $(".sidebar-btn").click(function(){$(".wrapper").toggleClass("collapse");
    });
    });
</script>

</body>
</html>