<!DOCTYPE html>
<html>
<head>
	<!-- loads the path to your static files -->
    {% load static %}
    <meta charset="UTF-8">
	<title></title>
    <script src="https://kit.fontawesome.com/a076d05399.js"> </script>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/index_style.css' %}"/>

</head>
<body>

	<!--wrapper start-->
    <div class="wrapper">
       
    <!--main container start-->

        <div class="main-container">
    
            <div class="login-form">
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Username " id="UserName">
                    <i class="fas fa-user"></i>
                </div>

                <div class="form-group log-status">
                    <input type="password" class="form-control" placeholder="Password" id="Passwod">
                    <i class="fas fa-lock"></i>
                </div>

                <span class="alert">Invalid Credentials</span>
                <a class="link" href="#">Lost your password?</a>
      
                <button type="button" class="log-btn"> Sign In </button>
                <hr>
                <h3> or </h3>
                <button type="button" class="sign-btn"> Sign Up </button>
     
    
            </div> 

    <!--main container end-->
        </div> 
</div>

</body>
</html>