 {% extends "accounts/base.html" %}

{% load static %}

{% block title %}
    <title>{{ user.username }}/notifications</title>
{% endblock title %}

{% block cssfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'accounts/notifications_style.css' %}"/> 

{% endblock cssfiles %}


{% block content %}

<div class="row justify-content-around my-row top-row">
    <div class="col-12 my-col my-col-11">

    	<h3>hfkjhkjhkjhkjgjjfhgdhk</h3>

    











    </div> <!-- MAIN COL END -->

</div> <!-- MAIN ROW END -->

{% endblock content %}