{% extends "accounts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    <title> {{ u.username }} </title>
{% endblock title %}


{% block cssfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/profile_style.css' %}"/> 

{% endblock cssfiles %}


    
    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->


                                    <!-- EXTRA CONTENT
                                            HERE---->
{% block content %}

                <!-- ROW 3  DP, POSTS, FRIENDS, REQUEST-->
                <div class="row justify-content-center my-row top-row main-card">
                    <div class="col-3 my-col my-col-31 text-right">
                        <img class="profile-image" src="{{ u.profile.image.url }}">             
                    </div> 

                    <div class="col-5 my-col my-col-32 ">
                        <div class="col my-col">
                            <div class="row my-row">
                                <div class="col-8 my-col"> </div>

                                <div class="col-4 my-col text-center">
                                    <div class="posts-col">
                                        <h3>{{post_count}}</h3>
                                        <h3>Posts</h3>                   
                                    </div>                   
                                </div>
                            </div>
                
                            <div class="row my-row">
                                <div class="media-body">
                                    <h2 class="user-name">{{ u.username }} </h2>
                                    <h4 class="user-location"> {{ u.profile.city }},  {{ u.profile.state }}  </h4>
                                </div>
                            </div>
                        </div> 
                    </div>
 

                    <div class="col-2 my-col my-col-32 text-center">
                        <div class="friends-col">
                            <h3>{{ u.profile.friends.count}}</h3>
                            <h3>Friends</h3>                    
                        </div>


                    <!-- RECENT CHANGES ------REQUEST BUTTON -->

                        <div>

                            {% if button_status == 'not_friend' %}
                                <small>
                                    <a class="btn btn-primary btn-lg btn-block profile-btn " href="/accounts/friend-request/send/{{ u.id }}/" > Request </a>
                                </small>

                            {% elif button_status == 'friend_request_sent' %}
                                <small> <a class="btn btn-warning btn-lg btn-block profile-btn" href="/accounts/friend-request/cancel/{{ u.id }}/" > Cancel </a></small>

                            {% elif button_status == 'friend_request_received' %}
                                <small> <a class="btn btn-success mr-4 profile-btn" href="/accounts/friend-request/accept/{{ u.id }}/" > Accept </a></small>
                                
                                <small> <a class="btn btn-danger profile-btn" href="/accounts/friend-request/delete/{{ u.id }}/" > Delete </a></small>
                    
                            {% else %}
                            
                                <small> <a class="btn btn-danger" href="/accounts/friend/delete/{{ u.id }}/"> UnFriend </a>
                                </small>
                                
                            {% endif %}
                        </div>

         





                        <!--<div>
                            <form class="request-link" action="/accounts/friend-request/send/{{ u.id }}/" method="post">
                                {% csrf_token %}
                                    <button class="btn btn-primary btn-lg btn-block" type="submit"> Request</button>
                            </form>
                        </div> -->
                    </div>
                </div>


                <!-- ROW 4 BIO--> 
                <div class="row justify-content-center my-row">       
                    <div class="col-10 my-col my-col-41">
                        <div class="user-bio">
                            <h4>{{ u.profile.bio }}</h4>
                        </div> 
                    </div>  
                </div>


                <!-- ROW 5 GENRES, READ LIST -->
                <!-- displayed only if the user has added the corresponding information -->
                <!-- ADD WHEN READ_LIST IS ADDED -->
                <div class="row justify-content-center genres-row my-row">     
                    <div class="col-5 my-col my-col-61">
                        <div class="accordion text-center" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2>
                                        <button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseOne">Genres
                                        </button>                                  
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div>

                                            {% if existing_genres %}
                                                <h2>Already selected GENRES:</h2>
                                                {{ existing_genres }}

                                            {% else %}
                                                <h3> Genres not specified </h3>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>


                    <div class="col-5 my-col my-col-62">
                        <div class="accordion text-center" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h2>
                                    <button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseTwo">Read List</button>                                  
                                </h2>
                            </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>User's read list</p>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>  
                </div>
                <hr/>


                <div class="row justify-content-center my-row posts-row">       <!-- ROW 6  POSTS -->
                    <div class="col-10 my-col my-col-61">
                        
                        <h1 class="text-center">Posts</h1>

                        {% for post in user_posts %}
                            {% if post.post_image %}
                                <div class="content-card image-card my-3">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>

                                    <br />
                                    <img class="card-img-top" src="{{ post.post_image.url }}" width="550" height="900" />
                                    <img src="{{ post.url }}" alt="">
                                    <br /><small class="text-muted"
                                    >{{ post.date_posted }}</small>

                            <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                    </div>

                                </div>
                            {% else %}

                                <div class="content-card text-card my-3">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>
                                    <br /><small class="text-muted"
                                    >{{ post.date_posted }}</small>

                                    </div>
                                        <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                
                                </div>

                            {% endif %}

                        {% endfor %}
 















                    </div>  
                </div> 


                <!-- FOR TESTING -->

                <div class="row justify-content-center my-row">       <!-- ROW 7  TESTS -->
                    <div class="col-6 my-col my-col-61 text-center">


                    </div>  
                </div> 


{% endblock content %}
