<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title> {{ u.username }} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8">        
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/profile_style.css' %}"/> 

    <style>
        .my-container{
            /*margin-left: 230px;*/
            border: 1px solid green; 
           /* max-width: 1280px; */
        }

         
        .top-row{
            margin-top: 40px;
            }   

        /*.my-col{
            border: 1px solid blue;
        }
        
         .my-row{
            border: 1px solid red;
         } */

        </style> 

</head>
<body>

    <div class="container-fluid my-container">
        
        <div class="row my-row">        <!-- ROW 1  TITLE  -->
            <div class="col-md-2 my-col top-col my-col-11">


    <div class="wrapper">

        <div class="sidebar">
                        <div class="sidebar-menu">
                            <center class="profile">
                                <img src="{{ user.profile.image.url }}" alt="">
                                <p> {{ user.username }} </p>
                                <hr class="solid">
                            </center>

                            <li class="item">
                                <a href="{% url 'accounts:edit_profile' %}"  class="edit-menu-btn">
                                <i class="fas fa fa-user"></i><span>Edit Profile</span></a>
                            </li>
                            <center> <hr class="solid"> </center>

                            <li class="item">
                                <a href="{% url 'accounts:genres' %}"  class="menu-btn">
                                <i class="fa fa-sticky-note"></i><span>Genres</span></a>
                            </li>

                            <li class="item">
                                <a href="#profile" class="menu-btn">
                                <i class="fas fa fa-book"></i><span>Read List</span></a>
                            </li>

                            <li class="item">
                                <a href="{% url 'accounts:friend_list' %}" class="menu-btn">
                                <i class="fas fa fa-users"></i><span>Friends</span></a>
                            </li>

                            <li class="item">
                                <a href="#posts" class="menu-btn">
                                <i class="fas fa-newspaper"></i><span>Posts</span></a>
                            </li>

                            <div>
                                <li class="item" id="settings">
                                    <a href="#settings" class="last-menu-btn">
                                    <i class="fas fa-cog"></i><span>Settings</span> </a>
                                </li>
                            </div>
                        </div>
                </div>

            </div> 
            </div>

            <div class="col-md-10 my-col top-col my-col-12 "> <!-- COL 2 -->

                <div class="row my-row">   <!-- ROW 1 --> 


                    <div class="col-7 my-col top-col my-col-11">  <!-- ROW-1 COL 1  TITLE  -->
                        <div class="title"><span>Perusal</span></div>    
                    </div>

                        <!-- ROW-1 COL 1  LOG - OUT  -->
                        <div class="col-5 my-col top-col my-col-12 text-right"> 
                            <form class="logout-link" action="/accounts/logout/" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Logout</button>
                            </form>
                        </div> 
                </div>


                <div class="row justify-content-center my-row row-2">    <!-- ROW 2   SEARCH BAR  -->
                    <div class="col-6 my-col my-col-21 text-center">
                        <div class="search">
                            <form class="search-form">
                            <input class="search-txt" type="text" name="q" placeholder="search">
                                <a class="search-btn" href="#">
                                <i class="fas fa-search"></i></a>
                            </form>
                        </div>     
                    </div>  
                </div>


                <!-- ROW 3  DP, POSTS, FRIENDS-->
                <div class="row justify-content-center my-row top-row main-card">
                    <div class="col-3 my-col my-col-31 text-right">
                        <img class="profile-image" src="{{ u.profile.image.url }}">             
                    </div> 

                    <div class="col-5 my-col my-col-32 ">
                        <div class="col my-col">
                            <div class="row my-row">
                                <div class="col-8 my-col"> </div>

                                <div class="col-4 my-col text-center">
                                    <div class="posts-col">
                                        <h3>100</h3>
                                        <h3>Posts</h3>                   
                                    </div>                   
                                </div>
                            </div>
                
                            <div class="row my-row">
                                <div class="media-body">
                                    <h2 class="user-name">{{ u.username }} </h2>
                                    <h4 class="user-location"> {{ u.profile.city }},  {{ u.profile.state }}  </h4>
                                </div>
                            </div>
                        </div> 
                    </div>
 

                    <div class="col-2 my-col my-col-32 text-center">
                        <div class="friends-col">
                            <h3>50</h3>
                            <h3>Friends</h3>                    
                        </div>

                        <div>
                            <form class="request-link" action="/accounts/friend-request/send/{{ u.id }}/" method="post">
                                {% csrf_token %}
                                    <button class="btn btn-primary btn-lg btn-block" type="submit"> Request</button>
                            </form>
                        </div>
                    </div>
                </div> 

                <div class="row justify-content-center my-row">       <!-- ROW 4 BIO, REQUEST-->
                    <div class="col-10 my-col my-col-41">
                        <div class="user-bio">
                            <h4>{{ u.profile.bio }}</h4>
                        </div> 
                    </div>  
                </div>

                <!-- ROW 5 GENRES, READ LIST -->
                <div class="row justify-content-around my-row">       
                    <div class="col-2 my-col my-col-61">
                        <h3>Genres</h3> 
                    </div>

                    <div class="col-2 my-col my-col-62">
                        <h3>Read List</h3> 
                    </div>  
                </div>


                <div class="row justify-content-center my-row">       <!-- ROW 6  POSTS -->
                    <div class="col-6 my-col my-col-61 text-center">
                        <h1>Posts</h1> 
                    </div>  
                </div> 


                <!-- FOR TESTING -->

                <div class="row justify-content-center my-row">       <!-- ROW 7  TESTS -->
                    <div class="col-6 my-col my-col-61 text-center">
                        <h4>Friend requests</h4>

                        <h3>{{ u.profile.friends.count}}</h3>


                    </div>  
                </div> 



                    
            </div> <!-- CONTENT COLUMN END -->
        </div> <!-- ROW END -->
    </div>  <!-- CONTAINER END -->


