{% extends "accounts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block cssfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/test_homepage_style.css' %}"/>

{% endblock cssfiles %}

{% block content %}
    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->

                <!-- ROW 3  READS AND SUGGESTIONS-->
                <div class="row my-row top-row">
                    
                    <div class="col-md-12 col-sm-8 my-col my-col-31">
                       
                        <div class="tabs">
                            <input type="radio" name="tabs" id="tabone" >
                            <label for="tabone" id="tab-heading-1">Top-Reads</label>
                            <div class="tab">
                                <div class="top-reads">
                                    <div class="card side-card">
                                        <p>Read - 1</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 2</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 3</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 4</p>
                                    </div>
                                </div>
                            </div>
  
                            <input type="radio" name="tabs" id="tabtwo" checked="checked">
                            <label for="tabtwo" id="tab-heading-2">Suggested</label>
                            <div class="tab">
                                <div class="suggested ">                                    
                                    {% if location_suggest %} 
                                        {% for sugg_loc in location_suggest %}
                                            <div class="card side-card">
                                                <a href="{{ sugg_loc.get_absolute_url }}"><img class="suggest-image" src="{{ sugg_loc.image.url }}" alt=""/></a>
                                                <a class="text-dark" href="{{ sugg_loc.get_absolute_url }}"><b> {{ sugg_loc }} </b></a>

                                                <small>
                                                    <a class="btn btn-info btn-sm profile-btn " href="/accounts/friend-request/send/{{ sugg_loc.user.id }}/" > Request </a>
                                                </small>
                                            </div>
                                        {% endfor %}
                                    {% endif %} 


                                    {% if not_friend_neither_location %} 
                                        {% for sugg_user in not_friend_neither_location %}
                                            <div class="card side-card ">
                                                <a href="{{ sugg_user.get_absolute_url }}"><img class="suggest-image" src="{{ sugg_user.image.url }}" class="rounded mr-2" alt=""/></a>
                                                <a class="text-dark" href="{{ sugg_user.get_absolute_url }}"><b> {{ sugg_user }} </b></a>

                                                <small>
                                                    <a class="btn btn-info btn-sm profile-btn " href="/accounts/friend-request/send/{{ sugg_user.user.id }}/" > Request </a>
                                                </small>
                                            </div>
                                        {% endfor %}
                                    {% endif %} 
                                </div>                                
                            </div>
  
                        </div>
 
                    </div>              
                </div> <!-- READS AND SUGGESTIONS ROW END -->
<hr/>

                <!-- ROW 4   CONTENT ROW  -->
                <div class="row my-row row-4">    
                    <div class="col-md-10 col-sm-8 my-col my-col-41 ">
                        
                        <h4>POSTS</h4> 

                        {% for post in posts %}
                            {% if post.post_image %}
                                <div class="content-card image-card my-3">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>

                                    <br />
                                    <img class="card-img-top" src="{{ post.post_image.url }}" width="550" height="900" />
                                    <img src="{{ post.url }}" alt="">
                                    <br /><small class="text-muted"
                                    >{{ post.date_posted }}</small>

                            <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                    </div>

                                </div>
                            {% else %}

                                <div class="content-card text-card my-3">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>
                                    <br /><small class="text-muted"
                                    >{{ post.date_posted }}</small>

                                    </div>
                                        <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                
                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>  




                                        
                    <div class="col-md-2 my-col my-col-42">

                         <div id="mybutton">
                        
                        <form action="{% url 'feed:post-create' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-colour-1 my-2 my-sm-0 feedback" type="submit"> <i class="fas fa-plus-circle "></i>Add Post
                            </button>
                        </form>

                        </div>



                    </div>

                </div>


{% endblock content %}
