<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% load crispy_forms_tags %}

    <meta charset="utf-8">

    <title> {{ user.username }}_homepage</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8">      
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/test_homepage_style.css' %}"/>

    <style>
        .my-container{
            /*margin-left: 230px;*/
            /*border: 1px solid green; */
           /* max-width: 1280px; */
        }
  
        /*.my-col{
            border: 1px solid blue;
        }
        
         .my-row{
            border: 1px solid red;
         }*/

        </style>

</head>
<body>



  <div class="container-fluid my-container">
        
    <div class="row my-row">        <!-- ROW 1  TITLE  -->
        <div class="col-md-2 my-col top-col my-col-11">


    <div class="wrapper">

        <div class="sidebar">
                        <div class="sidebar-menu">
                            <center class="profile">
                                <img src="{{ user.profile.image.url }}" alt="">
                                <p> {{ user.username }} </p>
                                <hr class="solid">
                            </center>

                            <li class="item">
                                <a href="{% url 'accounts:edit_profile' %}"  class="edit-menu-btn">
                                <i class="fas fa fa-user"></i><span> Edit Profile</span></a>
                            </li>
                            <center> <hr class="solid"> </center>


                            <li class="item">
                                <a href="{% url 'accounts:homepage' %}" class="menu-btn">
                                <i class="fas fa fa-home"></i><span>Home</span>
                                </a>
                            </li>

                            <li class="item">
                                <a href="{% url 'accounts:genres' %}"  class="menu-btn">
                                <i class="fa fa-sticky-note"></i><span>Genres</span></a>
                            </li>

                            <li class="item">
                                <a href="#profile" class="menu-btn">
                                <i class="fas fa fa-book"></i><span>Read List</span></a>
                            </li>

                            <li class="item">
                                <a href="{% url 'accounts:friend_list' %}" class="menu-btn">
                                <i class="fas fa fa-users"></i><span> Friends</span>
                        </a>
                            </li>

                            <li class="item">
                                <a href="{% url 'feed:user-posts' user.username %}" class="menu-btn">
                                <i class="fas fa-newspaper"></i><span>Posts</span></a>
                            </li>

                            <div>
                                <li class="item" id="settings">
                                    <a href="{% url 'feed:post-home' %}" class="last-menu-btn">
                                    <i class="fas fa-cog"></i><span>Settings</span> </a>
                                </li>
                            </div>
                        </div>
                </div> <!-- sidebar end -->

            </div>  <!-- wrapper end -->
            </div>


            <div class="col-md-10 my-col top-col my-col-12 "> <!-- COL 2 -->

                <div class="row my-row">   <!-- ROW 1 --> 

                    <!-- ROW-1 COL 1  TITLE  -->
                    <div class="col-7 my-col top-col my-col-11">  
                        <div class="title top-item"><span>Perusal</span></div>    
                    </div>


                    <!-- ROW-1 COL 2  ADD POST  -->
                        <div class="col-3 my-col top-col my-col-12 text-right"> 
                            <form class="top-item" action="{% url 'feed:post-create' %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Create Post</button>
                            </form>
                        </div>

                        <!-- ROW-1 COL 3  LOG - OUT  -->
                        <div class="col-2 my-col top-col my-col-12 text-center"> 
                            <form class="top-item" action="/accounts/logout/" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Logout</button>
                            </form>
                        </div> 




                        


                </div>
               

                <!-- ROW 2   SEARCH BAR  -->
                <div class="row justify-content-center my-row row-2">    
                    <div class="col-6 my-col my-col-21 text-center">
                        <div class="search">
                            <form class="search-form">
                            <input class="search-txt" type="text" name="q" placeholder="search">
                                <a class="search-btn" href="#">
                                <i class="fas fa-search"></i></a>
                            </form>
                        </div>     
                    </div>  
                </div>

    <!-- ############## till here COMMON TEMPLATE FOR ALL THE PAGES  ################# -->

                <!-- ROW 3  READS AND SUGGESTIONS-->
                <div class="row my-row top-row">
                    <div class="col-12 my-col my-col-31">
                        <hr/>
                        <div class="tabs">
                            <input type="radio" name="tabs" id="tabone" >
                            <label for="tabone" id="tab-heading-1">Top-Reads</label>
                            <div class="tab">
                                <div class="top-reads">
                                    <div class="card side-card">
                                        <p>Read - 1</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 2</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 3</p>
                                    </div>
                                    <div class="card side-card">
                                        <p>Read - 4</p>
                                    </div>
                                </div>
                            </div>
  
                            <input type="radio" name="tabs" id="tabtwo" checked="checked">
                            <label for="tabtwo" id="tab-heading-2">Suggested</label>
                            <div class="tab">
                                <div class="suggested">                                    
                                    {% if location_suggest %} 
                                        {% for user_p in location_suggest %}
                                            <div class="card side-card">
                                                <a href="{{ user_p.get_absolute_url }}"><img
                                                src="{{ user_p.image.url }}" class="rounded mr-2" width="80" height="80" alt=""/></a>
                                                <a class="text-dark" href="{{ user_p.get_absolute_url }}"><b> {{ user_p }} </b></a>
                                            </div>
                                        {% endfor %}
                                    {% endif %} 


                                    {% if not_friend_neither_location_list %} 
                                        {% for user_p in not_friend_neither_location_list %}
                                            <div class="card side-card">
                                                <a href="{{ user_p.get_absolute_url }}"><img
                                                src="{{ user_p.image.url }}" class="rounded mr-2" width="80" height="80" alt=""/></a>
                                                <a class="text-dark" href="{{ user_p.get_absolute_url }}"><b> {{ user_p }} </b></a>
                                            </div>
                                        {% endfor %}
                                    {% endif %} 
                                </div>                                
                            </div>
  
                        </div>
 
                    </div>              
                </div> <!-- READS AND SUGGESTIONS ROW END -->


                <!-- ROW 4   CONTENT ROW  -->
                <div class="row my-row row-4">    
                    <div class="col-12 my-col my-col-41 ">
                        <hr/>
                        <h4>POSTS</h4> 

                        {% for post in posts %}
                            {% if post.post_image %}
                                <div class="content-card image-card my-5">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    <br /><small class="text-muted"
                                    >{{ post.date_posted }}</small>
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>

                                    <br />
                                    <img class="card-img-top" src="{{ post.post_image.url }}" width="550" height="700" />
                                    <img src="{{ post.url }}" alt="">

                            <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                    </div>

                                </div>
                            {% else %}

                                <div class="content-card text-card my-5">
                                <div class="card-body">
                                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img
                                    src="{{ post.user_name.profile.image.url }}"
                                    class="rounded-circle"
                                            width="80" height="80" alt=""/></a>
                                    <a class="text-dark post-username" href="{{ post.user_name.profile.get_absolute_url }}"
                                    ><b>{{ post.user_name }}</b></a>
                                    <br /><small class="text-muted"
                                    >Posted on {{ post.date_posted }}</small>
                                    <br /><br />
                                    <p class="card-text text-dark">{{ post.text_post }}</p>

                                    </div>
                                        <!--        {% if post.tags %}
                                            <br />
                                            <p class="text-danger ml-3">
                                            <b>Tags: <i>{{ post.tags }}</i></b>
                                            </p>
                                        {% endif %} -->
                                
                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>  
                </div>




        </div> <!-- ROW END -->
    </div>  <!-- CONTAINER END -->











</body>
</html>