{% extends "accounts/base.html" %}

{% load static %}

{% block cssfiles %}

{% endblock cssfiles %}

{% block content %}

    <div class="col-xs-12 col-sm-12 col-md-12 my-col top-col my-col-11 ">

		<div class="genre-tab" style="padding-top:70px; padding-bottom:50px;">

            <form class="form-inline my-5 ">
                <input name="q" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" blank="False">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

			{% if books %}

                {% for book in books %}
                    {{book}}

                {% endfor %}

            {% endif %}

            <div class="display-message">

                {% if not_found %}
                    <div style="color: #0aad09;">
                        {{ not_found }}
                    </div>
                {% endif %}
            </div>


            <div class="display-message">

                {% if not_valid %}
                    <div style="color: red;">
                        {{ not_valid }}
                    </div>
                {% endif %}
            </div>

			

        </div>

    <style>

		.card-gen{
			display: inline-flex;
			border: 1px solid rgba(0,0,0,.125); 
			margin-left: 5rem;
    		margin-top: 3rem;
			width: 10rem;
			height: 5rem;
			
		}

		.card-gen:hover {
			border: 1px solid rgba(0,0,0,.125);
			background: red;
		}

		.card-body{
			padding: 0.75rem;
		}

		.genres-link{
			text-decoration: none;
		}

		.genres-link:hover{
			text-decoration: none;

		}
	</style>    

{% endblock content %}