*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: #fff;
}

.title{
  color: #fff;
  font-size: 25px;
  /*text-transform: uppercase;*/
  font-weight: 1000;
}

.title span{
  color: #014421;
  font-size: 30px;
  font-family: "Lucida Handwriting", "Georgia";
}

/*.top-item{
  padding-right: 1.75rem;
}*/

.wrapper .sidebar{
  z-index: 1;
  background: #454140;
  position: fixed;
  top: 80px;
  height: 100%;
  overflow-y: auto;
}

/* Modify the background color */ 
          
.navbar-custom { 
    background-color: #efefef; 
} 
/* Modify brand and text color */ 
          
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: green; 
} 

.custom-toggler.navbar-toggler { 
    border-color: blue; 
}


.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.navbar{
  z-index: 1;
}




hr.solid{
  border-top: 1px solid #bbb;
  width: 200px;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 20px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;

}

.wrapper .sidebar .sidebar-menu .item{
 /* width: 225px; */
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 15px 35px 7px 35px;
  transition: 0.3s;
  transition-property: color;
}

/*.wrapper .sidebar .sidebar-menu .item .last-menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 70px 35px;
  transition: 0.3s;
  transition-property: color;
  margin-top: 40px; 
}*/

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 3px 35px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .last-menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

/*.wrapper .sidebar .sidebar-menu .item .last-menu-btn i{
  margin-right: 20px;
}*/

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn i{
  margin-right: 20px;
}


/* ===========================
   ====== Search Box ====== 
   =========================== */

.search
{
  border: 2px solid #CF5C3F;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"]
{
  border: 0px;
  width: 85%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #CF5C3F;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

.search-form{
  background-color: #fff

}


/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
  {}
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}
 /* COMMON CSS FOR ALL THE PAGES */

 /* NEWLY ADDED --from my_profile_style */


hr {
 /*! margin-top:1rem; */
 margin-bottom:1rem;
 border:0;
 border-top:1px solid rgba(0,0,0,.1)
}





.btn-colour-1 {
  color: #fff;
  background-color: #004E64;
  border-color: #004E64;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
  font-family: Arial, sans-serif;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #003D4F;
  color: #ffffff;
  border-color: #003D4F;
}

.msg-btn{
    padding-right: 1px;

}


.btn .badge {
    position: relative;
    top: -15px;
    left: -10px;
}

