*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: #fff;
}

.title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.title span{
  color: #014421;
  font-size: 40px;
  font-family: "Lucida Handwriting", "Georgia";
}

.top-item{
  margin-top: 25px;
}

.wrapper .sidebar{
  z-index: 1;
  background: #454140;
  position: fixed;
  width: 225px; 
  height: 100%;
  overflow-y: auto;
}

hr.solid{
  border-top: 1px solid #bbb;
  width: 200px;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 20px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
  width: 225px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 15px 35px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .last-menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 70px 35px;
  transition: 0.3s;
  transition-property: color;
  margin-top: 40px; 
}

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 3px 35px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .last-menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn:hover{
  color: #d6cbd3;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .last-menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .edit-menu-btn i{
  margin-right: 20px;
}


/* ===========================
   ====== Search Box ====== 
   =========================== */

.search
{
  border: 2px solid #CF5C3F;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"]
{
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #CF5C3F;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
  {}
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}

.logout-link{
  margin-top: 10px;
}


 /* COMMON CSS FOR ALL THE PAGES */