*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}

.my-col-11{
  padding-top: 3rem;
}

h1.headertest {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 100px; 
  font-weight: bold;
  /*color: #fff;*/
  color: rgb(0, 0, 102);
  font-family: "Baloo Chettan", "Georgia";
}

h3.headertestdata {
  color: #13274F;
  text-align: center;
  padding-bottom: 30px;
  font-family:  "Baloo Chettan", "Georgia",;
}

.my-row-5{
  margin-top: 1rem;
}

