/*Tabs*/
.tabs {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs label {
  order: 1; // Put the labels first
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #D0F0C0;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
    color: #fff;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;

  }
}

/* NEW CHANGES */

.tabs{
  margin-top: 60px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}

#tab-heading-2"{
  color: #fff;
}


.card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.side-card {
  display: inline-flex;
  width: 130px;
  height: 180px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  background: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.9);
  text-align: center;
  font-family: "fantasy", sans-serif;
}

.side-card-2 {
  display: inline-flex;
  width: 200px;
  height: 220px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 10px;
  background: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.9);
  text-align: center;
  font-family: "fantasy", sans-serif;
}

.friend-image{
  border-radius: 50%;
  margin-top: 10px;
}

.top-row{
  margin-top: 80px;
}

