/*Tabs*/
.tabs {
  display: flex;
  flex-wrap: wrap; 
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}
.tabs label {
  order: 1; 
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #F0E4D8;
  font-weight: bold;
  transition: background ease 0.2s;
  font-size: 20px;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
    color: #fff;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;

  }
}

/* NEW CHANGES */

.tabs{
  margin-top: 50px;
}

#tab-heading-2{
  color: black;
}


.card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.side-card {
  display: inline-flex;
  width: 130px;
  height: 180px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  background: white;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive; 
}

.side-card-2 {
  display: inline-flex;
  width: 200px;
  height: 220px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 10px;
  background: white;
  
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive; 
}

.friend-image{
  border-radius: 50%;
  margin-top: 10px;
}

.top-row{
  margin-top: 80px;
}


.suggest-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
 }


.rec-btn{
  margin-right: 1.5rem;
  margin-top: 1rem;
}


.del-btn{
  margin-top: 1rem;
}
