.my-col-31{
    margin-top: 20px;
}


.my-col-41{
    margin-top: 20px;
}

.box-data .ul{
  font-size: 20px;

}

input.largerCheckbox { 
    width: 20px; 
    height: 20px; 

}

.check-text{
    font-size: 20px;
    color: #4A5D23;
    padding-left: 8px;
    padding-bottom: 10px;
    
}

.box-data ul.checkbox li{
    display: inline-grid;
}

.save-button{
    margin-top: 20px
}

.box-data hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.display-existing{
    color: #4A5D23;
    font-weight: bold;
}




.checkbox-lg::before, 
.checkbox-lg::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl::before, 
.checkbox-xl::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl {
  padding-top: 23px;
  padding-left: 10px;
}

