*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}


body{
  background: #f0fff0;
  background: url(images/per_back6.jpg) no-repeat; 
  background-size: cover;
}

.login-form{
  border-radius: 15px;
  padding: 40px 30px;
  background: #e6e6fa;
}

.btn-success{
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-primary{
  margin-top: 30px;
  margin-bottom: 10px;
}

.my-col{
	padding-top: 6rem;
}


