*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}
.login-form{
  border-radius: 15px;
  padding: 30px 30px;
  background: #e6e6fa;
}

.btn-success{
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-primary{
  margin-top: 30px;
  margin-bottom: 10px;
}

.my-col{
	padding-top: 5rem;
}

ul{
  padding-left: 0px;
}


