
.profile-image{
  margin: 20px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;

}

.posts-col{
  margin-top: 40px;
}

.friends-col{
  margin-top: 40px;
  margin-left: 50px;
}

.user-location{
  margin-top: 10px;
}

.user-name{
  margin-top: 20px;
}

.request-link{
  margin-top: 60px;
}

.user-bio{
  margin-top: 20px;
}


/* styling the display */

/*.main-card{
  background: #e0e2e4;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
} */

