
.profile-image{
  margin: 20px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;

}

.posts-col{
  margin-top: 40px;
}

.friends-col{
  margin-top: 40px;
  margin-left: 50px;
}

.user-location{
  margin-top: 10px;
}

.user-name{
  margin-top: 20px;
}

.request-link{
  margin-top: 60px;
}

.user-bio{
  margin-top: 20px;
}


/* ===========================
   ====== Search Box ====== 
   =========================== */

.search
{
  border: 2px solid #CF5C3F;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"]
{
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #CF5C3F;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
  {}
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}


/* styling the display */

/*.main-card{
  background: #e0e2e4;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
} */

