.top-row{
  margin-top: 100px;
}

.genres-row{
  margin-top: 20px;
}

.profile-image{
  margin: 20px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;

}

.posts-col{
  margin-top: 40px;
}

.friends-col{
  margin-top: 40px;
  margin-left: 50px;
}

.user-location{
  margin-top: 10px;
}

.user-name{
  margin-top: 20px;
}

.profile-btn{
  margin-top: 60px;
}

.user-bio{
  margin-top: 20px;
}


/* styling the display */

/*.main-card{
  background: #e0e2e4;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
} */



/* POST DISPLAY */

.content-card{
  background: #fff;
  margin-left: 20px;
  font-size: 14px;

}

.image-card{
  width: 900px;
  height: 1200px;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-family: "fantasy", sans-serif;
}


.text-card{
  display: inline-grid;
  width: 900px;
  height: 300px;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-family: "fantasy", sans-serif;
  font-size: 15px;
}

.post-username{
  font-size: 25px;
}



