*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}


body{
  background: #f0fff0;
}

.signup-form{
  border-radius: 15px;
  padding: 30px 30px;
  background: #e6e6fa;
}


.my-col{
	padding-top: 1rem;
}


