
 .read-label{
  margin-top: 10px;
 }

  .suggest-label{
  margin-top: 25px;
 }


 .suggest-image{
  width: 70px;
  height: 70px;
  border-radius: 50%;
 }

 .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.card {
...
  transition: 0.5s ease;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 80px;
}


.main-card {
  display: inline-flex;
  width: 100px;
  height: 120px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  text-align: center;
  font-family: "fantasy", sans-serif;
}

.main-card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.main-card {
...
  transition: 0.5s ease;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}


.side-card {
  display: inline-flex;
  width: 110px;
  height: 150px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  background: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.9);
  text-align: center;
  font-family: "fantasy", sans-serif;
}

.side-card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.side-card {
...
  transition: 0.5s ease;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}


/*Tabs*/
.tabs {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.tabs label {
  order: 1; 
  display: block;
  padding: 0.5rem 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #D0F0C0;
  font-weight: bold;
  transition: background ease 0.2s;
  font-size: 20px;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
  width: 100%;
  display: none;
  /*padding: 1rem;*/
  background: #fff;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
    color: #fff;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;

  }
}

/* NEW CHANGES */

.tabs{
  margin-top: 100px;
  /*box-shadow: 1px 1px 3px rgba(0,0,0,0.9);*/
}

#tab-heading-2"{
  color: #fff;

}

#tab-heading-1{
  margin-top: 5rem;
}





hr {
 /*! margin-top:1rem; */
 margin-bottom:1rem;
 border:0;
 border-top:1px solid rgba(0,0,0,.1)
}


.content-card{
  background: #fff;
  margin-left: 20px;
  font-size: 14px;

}

.image-card{
  width: 900px;
  height: 1200px;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-family: "fantasy", sans-serif;
}


.text-card{
  display: inline-grid;
  width: 900px;
  height: 300px;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-family: "fantasy", sans-serif;
  font-size: 15px;
}

.post-username{
  font-size: 25px;
}







/*.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}*/

#mybutton {
  position: fixed;
  bottom: 20px;
  right: 56px;
}


#mybutton i{
  margin-right: 10px;
}

