*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}

body{
  background: #fff;
}
/*

.wrapper .header{
  z-index: 1;
  background: #fff;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu ul{
  display: flex;
} */

h1.headertest {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;

  
}

h2.headertestdata {
  text-align: center;
  
}

.btn-success{
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 400px;
  text-align: center;
}

.btn-primary{
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left: 500px;
  text-align: center;
}



/* signup - signin button styling 

.wrapper .header .header-menu .right-item-1 a{
  color: #fff;
  display: block;
  margin: 0 10px;
  font-size: 22px;
  width: 90px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  transition: 0.3s;
  transition-property: color;
  position: absolute;
  top: 25%;
  left: 80%;
}

.wrapper .header .header-menu .right-item-2 a{
  color: #fff;
  display: block;
  margin: 0 10px;
  font-size: 22px;
  width: 100px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  transition: 0.3s;
  transition-property: color;
  position: absolute;
  top: 25%;
  left: 88%;
}

.wrapper .header .header-menu .right-item-1 a:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu .right-item-2 a:hover{
  color: #4CCEE8;
} */



